.shop-hide{
    background: white;
    width: 100%;
    height: 155px;
    position: absolute;
    top: 61px;

}
.shop-gouwu {
    margin:0 auto;
    width: 1280px;
    display: none;
}
.shop-img{
    margin:150px auto;
    width: 300px;
    height: 150px;
}
.shop-img p{
    float: right;
    font-size: 18px;
    color: #666;
    margin:25px 25px 0 0;
}
.shop-img span{
    float: right;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    margin: -45px 10px;
    line-height: 40px;
    background-color: #F08200;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.shop-png {
    padding-top: 33px;
    height: 100px;
    width: 1280px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.shop-step {
    float: right;
    font-size: 20px;
    margin-top: 30px;
}
.shop-step p{
    display: inline-block;
}
.shop-xian{
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.shop-car {
    margin:0 auto;
    width: 1280px;


}
.cart h4 {
    background: url("../img/首页/img_62.png") no-repeat 0 center/20px 20px;
    padding-left: 30px;
    color: #666;
    font-size: 20px;
    margin: 20px 0;
}
.one-shop .tt {
    background-color: #F2F2F2;
}
.one-shop .tt th{
    width: 202.6px;
    height: 51px;
    line-height: 51px;
    border-bottom:1px solid #DDD;
}
.one-shop .tt .inp{
    width: 64px;
    height: 51px;

}
.one-shop{
    margin:0 auto;
    width: 1280px;
    border:1px solid #DDD;
}
.one-shop .ttr th{
    width: 202.6px;
    height: 120px;
    line-height: 120px;
    border-bottom:1px solid #DDD;
}
.one-shop .ttr .inp{
    width: 64px;
    height: 120px;

}
.one-shop .ttr th .goods-img{
    position: absolute;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    border: 1px solid #DDD;

}
.shop-total {
    font-size: 20px;
    height: 70px;
    line-height:70px;
    text-align: right;
    color: #FF5757;
    padding-right: 50px;
}
.all-total {
    height: 100px;
    line-height: 100px;

}
.all-total .fr {
    float: right;

}
.all-total p{
    display: inline-block;
    font-size: 17px;
    color: #FF5757;

}
.all-total a{
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    line-height: 40px;
    background-color: #F08200;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.all-total label{
    color: #FF5757;
    font-size: 17px;
}
.minus {
    width: 30px;
    height: 30px;
    background-color: #F2F2F2;
    outline: none;
    border: none;
    font-size: 20px;
}
.am-num-text {
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
.plus {
    width: 30px;
    height: 30px;
    background-color: #F2F2F2;
    outline: none;
    border: none;
    font-size: 20px;
}
.goods-name {
    margin-left: 70px;
    width: 130px;
    height: 70px;
    display: block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.sc-show ul{
    margin: 20px auto 0;
    width: 1000px;
    flex-wrap: wrap;
}
.sc-show ul li:nth-child(3n-1) {
    margin-left: 20px;
}
.sc-show ul li:nth-child(4n-1) {
    margin-left: 20px;
}
.sc-show ul li:hover{
    border:1px solid green;
}

.sc-show ul li {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 303px;
    height: 435px;
    background: white;
    border:1px solid #DDDDDD;
    margin-bottom: 20px;
}
.sc-show ul li img {
    margin-top: 10px;
    width: 280px;
    height: 300px;
}
.sc-show ul li p {
    position: relative;
    width: 300px;
    height: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}
.sc-show ul li .sort-pp {
    color:#F88D3A;
    font-size: 20px;
}
.sc-show ul li .sort-non {
    color:black;
    font-size: 16px;
    margin-right:30px;
    text-decoration: line-through;
}
.sc-show ul li .sort-price img {
    width: 25px;
    height: 20px;
    margin-left: 110px;
    cursor:pointer;
}
.sc-show ul li .cancel-collect{
    width: 150px;
    height: 35px;
    background-color: #4B943D;
    border-radius: 30px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    cursor: pointer;
}

